/.Rhistory
/COI.fasta
/Plants_trnL.fasta
/Zebra parasites outline20180312.docx
/Zebra parasites outline20180313_EH.docx
/Zebra_FGM_MS_PSeeber.docx
/sample_list_egg_counts_fgm.xlsx
/figures
/stratified_files
*~
/tmp_all_in.fasta
/tmp_blast_out.fasta
